<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geekq.miaosha.mapper.MiaoShaUserMapper" >

    <resultMap id="BaseResultMap" type="MiaoshaUser" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="BIGINT" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="head" property="head" jdbcType="VARCHAR" />
        <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" />
        <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP" />
        <result column="login_count" property="loginCount" jdbcType="BIGINT" />
    </resultMap>

    <sql id="base_column">
    id,nickname,password,salt,head,register_date,last_login_date,login_count
    </sql>

    <select id="getByNickname" resultMap="BaseResultMap" >
        select <include refid="base_column" />
        from miaosha_user where nickname = #{nickname}
    </select>

    <select id="getById" resultMap="BaseResultMap" >
        select <include refid="base_column" />
        from miaosha_user where id = #{id}
    </select>

    <insert id="insertMiaoShaUser" parameterType="miaoshauser" useGeneratedKeys="true" keyProperty="id" >
   insert into miaosha_user (id , nickname ,password , salt ,head,register_date,last_login_date)
   value (#{id},#{nickname},#{password},#{salt},#{head},
   #{registerDate},#{lastLoginDate})
    </insert>

    <update id="update" parameterType="miaoshauser" >
   update miaosha_user set password = #{password} where id = #{id}
  </update>

    <select id="getCountByUserName" resultType="int" >
        select count(*)
        from miaosha_user where nickname = #{userName}
    </select>

</mapper>