<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
	<!-- 为当前服务提供者取个名字，并且提供给注册中心 -->
	<dubbo:application name="miaosha-dubbo-web"></dubbo:application>
	
	<!-- 注册中心的配置，用于消费者的监听 -->
	<dubbo:registry protocol="zookeeper" address="39.107.245.253:2181"></dubbo:registry>
	
	<!--&lt;!&ndash; 监听服务，通过注册中心去进行查找，查找到后进行服务调用 &ndash;&gt;-->
	<!--<dubbo:reference id="itemService" interface="com.imooc.item.service.ItemsService"-->
		<!--retries="3" check="false" init="true"></dubbo:reference>-->
	<dubbo:reference id="ordersService" interface="com.geekq.admin.service.OrdersService"
		retries="3" check="false" init="true"></dubbo:reference>
	<dubbo:reference id="iLogininfoService" interface="com.geekq.admin.service.ILogininfoService"
					 retries="3" check="false" init="true"></dubbo:reference>

	<dubbo:reference id="iUserService" interface="com.geekq.admin.service.IUserService"
					 retries="3" check="false" init="true"></dubbo:reference>

	<dubbo:reference id="iAccountService" interface="com.geekq.admin.service.IAccountService"
					 retries="3" check="false" init="true"></dubbo:reference>


	<dubbo:reference id="redisCacheStorageService" interface="com.geekq.admin.service.RedisCacheStorageService"
					 retries="3" check="false" init="true"></dubbo:reference>

	<dubbo:reference id="accountService" interface="com.geekq.admin.service.IAccountService"
					 retries="3" check="false" init="true"></dubbo:reference>

	<dubbo:reference id="iSystemDictionaryServiceImpl" interface="com.geekq.admin.service.ISystemDictionaryService"
					 retries="3" check="false" init="true"></dubbo:reference>
</beans>
