<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
		
	<!-- 为当前服务提供者取个名字，并且提供给注册中心 -->
	<dubbo:application name="miaosha-service"></dubbo:application>
	
	<!-- 注册中心的配置，使用zk暴露服务 -->
	<dubbo:registry protocol="zookeeper" address="39.107.245.253:2181"></dubbo:registry>

	<!-- 定义暴露服务的端口号 -->
	<dubbo:protocol name="dubbo" port="20881" ></dubbo:protocol>

	<!-- 暴露具体的服务接口 -->
	<dubbo:service retries="3" interface="com.geekq.admin.service.OrdersService"
		ref="ordersService" timeout="60000"></dubbo:service>


	<dubbo:service retries="3" interface="com.geekq.admin.service.ILogininfoService"
				   ref="logininfoServiceImpl" timeout="60000"></dubbo:service>

	<dubbo:service retries="3" interface="com.geekq.admin.service.IUserService"
				   ref="userServiceImpl" timeout="60000"></dubbo:service>

	<dubbo:service timeout="60000" retries="3"
				   interface="com.geekq.admin.service.RedisCacheStorageService" ref="redisCacheStorageServiceImpl" />

	<dubbo:service timeout="60000" retries="3"
				   interface="com.geekq.admin.service.IAccountService" ref="accountServiceImpl" />

	<dubbo:service timeout="60000" retries="3"
				   interface="com.geekq.admin.service.ISystemDictionaryService" ref="iSystemDictionaryServiceImpl" />
</beans>
