<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekq.miaosha.biz.mapper.MiaoshaGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.geekq.miaosha.biz.entity.MiaoshaGoods">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="miaosha_price" property="miaoshaPrice" />
        <result column="stock_count" property="stockCount" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, miaosha_price, stock_count, start_date, end_date
    </sql>

</mapper>
